@mixin gallery($col, $row, $pad1, $pad2 ){
    position: relative;
    padding-top: $pad1;
    padding-bottom: $pad1 ;
    padding-left:$pad2 ;
    padding-right: $pad2;
    display: grid;
    grid-template-columns: repeat($col, 1fr); /* 8 columnas */ 
    grid-template-rows: repeat($row, 5vw); /* 8 filas*/
    grid-gap: 15px;
}
